body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 0;
}

#header,
#intro,
footer {
    background-color: #1F2937;
    color: #F9FAF8;
}

/* Header */

#header,
#intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
}

#header p {
    font-size: 24px;
    font-weight: 700;
}

#header a,
#intro p {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.header-links {
    display: flex;
    gap: 12px;
}

/* Intro */

#intro {
    padding-top: 50px;
    padding-bottom: 50px;
    flex: 1 0 auto;
}

#intro h1 {
    font-size: 48px;
    font-weight: bolder;
    margin-top: 0;
}

#intro button {
    background-color: #3882F6;
    border: none;
    color: #F9FAF8;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 35px;
    border-radius: 6px;
}

.intro-img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    border-radius: 4px;
}

/* info */

#info {
    text-align: center;
}

#info h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

#info p {
    font-size: 18px;
    color: #1F2937;
}

.sub-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 150px 50px;
}

/* Quote  */

#quote {
    background-color: #E5E7EB;
    display: Flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 150px 50px;
}

#quote p {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    margin-bottom: 0;
}

#quote h4 {
    font-size: 24px;
    align-self: flex-end;
    margin-top: 0;
}

/* Sign Up */

#sign-up {
    padding: 80px 100px;
}

.card {
    background-color: #3882F6;
    display: Flex;
    justify-content: space-around;
    border-radius: 8px;
    padding: 20px 80px;
}

.sign-up-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#sign-up button {
    background-color: #3882F6;
    border: none;
    color: #F9FAF8;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 35px;
    border-radius: 6px;
    border: 2px solid #E5E7EB;
}

#sign-up h3 {
    color: #E5E7EB;
    font-size: 24px;
    margin-top: 12px;
    margin-bottom: 0px;
}

#sign-up p {
    font-size: 18px;
    color: #E5E7EB;
    margin-top: 0;

}

/* footer */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    color: #E5E7EB;
}